.logo{
    background-color: rgb(194, 151, 203);
    margin: -20px;
    padding: 30px;
    
}
a{
    padding: 80px;
}
.para{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black ;
    width: 1000px;
    padding: 40px;
    font-size: xx-large;

}
.luffy{
    float: right;
}
.one{
    margin: -28px;
    background-color: rgb(184, 247, 247);
}
img{
    padding: 40px ;
}
.two{
    padding :40px;
}
.three{
  style="text-align: center;"
}